<!DOCTYPE html>
<html>
  <head>
    <title>ProgresBar</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://www.gstatic.com/firebasejs/8.9.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.9.0/firebase-database.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
<!--<script src="https://www.gstatic.com/firebasejs/8.9.1/firebase-app.js"></script>-->
<!--<script src="https://www.gstatic.com/firebasejs/8.9.0/firebase-database.js"></script>-->
  <%= yield %>
  </body>
</html>
